@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://pham.codes/d/GeistMonoVF.woff2");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--bg-gradient-color: rgb(168, 192, 255);
	--bg-gradient-redical: radial-gradient(
		circle,
		rgba(168, 192, 255, 1) 0%,
		rgba(63, 43, 150, 1) 100%
	);
	--bg-gradient-linear-down: linear-gradient(
		0deg,
		rgba(168, 192, 255, 1) 0%,
		rgba(63, 43, 150, 1) 100%
	);
	--bg-gradient-linear-up: linear-gradient(
		180deg,
		rgba(168, 192, 255, 1) 0%,
		rgba(63, 43, 150, 1) 100%
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/** Hero Text Animation  **/

.text-box {
	color: transparent;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
	background: url(/Bg.png);
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 30s linear infinite;
}

@keyframes back {
	100% {
		background-position: 2000px 0;
	}
}
/** ================================================================ **/

/** Add the custom styles **/

.bg-gradient {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-redical);
}

.flip-card {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
	height: 0.75em;
	width: 1.2em;
	line-height: 1;
	padding: 0.25em;
	overflow: hidden;
}

.top,
.flip-card .top-flip {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-linear-down);
	border-top-right-radius: 0.1em;
	border-top-left-radius: 0.1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-linear-up);
	display: flex;
	align-items: flex-end;
	border-bottom-right-radius: 0.1em;
	border-bottom-left-radius: 0.1em;
}

.flip-card .top-flip {
	position: absolute;
	width: 100%;
	animation: flip-top 250ms ease-in;
	transform-origin: bottom;
}

@keyframes flip-top {
	100% {
		transform: rotateX(90deg);
	}
}

.flip-card .bottom-flip {
	position: absolute;
	bottom: 0;
	width: 100%;
	animation: flip-bottom 250ms ease-out 250ms;
	transform-origin: top;
	transform: rotateX(90deg);
}

@keyframes flip-bottom {
	100% {
		transform: rotateX(0deg);
	}
}

.container-segment {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
	align-items: center;
}

.segment {
	display: flex;
	gap: 0.1em;
}

/** ================================================================ **/

.container h1 {
	position: relative;
	text-align: center;
	color: #353535;
	font-size: 50px;
	font-family: "Cormorant Garamond", serif;
}

.container p {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 18px;
	color: #676767;
}
.container {
	width: 90%;
	margin: 40px auto;
	text-align: center;
}
.container div {
	margin: 20px;
}
.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
}

.btn-12{
	position: relative;
	right: 20px;
	bottom: 20px;
	border:none;
	box-shadow: none;
	width: 130px;
	height: 40px;
	line-height: 42px;
	-webkit-perspective: 230px;
	perspective: 230px;
  }
  .btn-12 span {
	background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
	display: block;
	position: absolute;
	width: 130px;
	height: 40px;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	border-radius: 5px;
	margin:0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
	box-shadow:
	 -7px -7px 20px 0px #fff9,
	 -4px -4px 5px 0px #fff9,
	 7px 7px 20px 0px #0002,
	 4px 4px 5px 0px #0001;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-webkit-transform-origin: 50% 50% -20px;
	-moz-transform-origin: 50% 50% -20px;
	transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
  }